<ion-app>
	<ion-header>
		<ion-toolbar>
			<ion-title>Basic Grid</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-grid class="grid">
			<ion-row>
				<ion-col>
					Header
				</ion-col>
			</ion-row>

			<ion-row class="body-row">
				<ion-col>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Nullam non nisi est sit amet facilisis magna etiam. Accumsan tortor posuere
					ac ut consequat semper. Amet justo donec enim diam vulputate ut pharetra sit amet. Cursus metus
					aliquam eleifend mi. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Tortor vitae
					purus faucibus ornare suspendisse sed nisi. Sed tempus urna et pharetra. Adipiscing vitae proin
					sagittis nisl rhoncus. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis.
					Turpis egestas integer eget aliquet nibh. Elit ullamcorper dignissim cras tincidunt. Laoreet id
					donec ultrices tincidunt. Elementum curabitur vitae nunc sed. At erat pellentesque adipiscing
					commodo elit at imperdiet dui accumsan. Odio morbi quis commodo odio aenean. Quam pellentesque nec
					nam aliquam sem et.</p>

					<p>Nibh cras pulvinar mattis nunc sed blandit. Eu facilisis sed odio morbi quis commodo odio aenean
					sed. Dapibus ultrices in iaculis nunc sed augue. Amet nulla facilisi morbi tempus iaculis urna.
					Vivamus arcu felis bibendum ut tristique et. Pellentesque elit eget gravida cum sociis. Faucibus
					nisl tincidunt eget nullam non nisi est sit. Imperdiet proin fermentum leo vel orci. Volutpat
					maecenas volutpat blandit aliquam. Justo nec ultrices dui sapien eget mi proin sed libero.</p>

					<p>Cursus turpis massa tincidunt dui ut ornare. In ornare quam viverra orci sagittis eu volutpat odio.
					Sagittis orci a scelerisque purus semper. Bibendum at varius vel pharetra. Praesent elementum
					facilisis leo vel fringilla. Et egestas quis ipsum suspendisse ultrices gravida dictum. In hendrerit
					gravida rutrum quisque non tellus. Sodales ut etiam sit amet. Elementum eu facilisis sed odio morbi.
					Consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Amet dictum sit amet
					justo. In pellentesque massa placerat duis ultricies lacus sed turpis. Etiam dignissim diam quis
					enim lobortis scelerisque fermentum dui faucibus. Aliquet risus feugiat in ante. Sed vulputate mi
					sit amet mauris commodo. Ipsum dolor sit amet consectetur. Blandit turpis cursus in hac habitasse
					platea dictumst quisque sagittis. Maecenas accumsan lacus vel facilisis. Maecenas sed enim ut sem
					viverra aliquet eget sit amet.</p>

					<p>Urna condimentum mattis pellentesque id nibh tortor. Nunc eget lorem dolor sed viverra ipsum.
					Interdum velit laoreet id donec ultrices tincidunt. Porttitor lacus luctus accumsan tortor posuere.
					Eget est lorem ipsum dolor. Nunc vel risus commodo viverra maecenas accumsan. Ac felis donec et odio
					pellentesque. Lacus sed turpis tincidunt id aliquet risus feugiat. Arcu odio ut sem nulla pharetra
					diam sit amet nisl. In fermentum posuere urna nec tincidunt praesent semper. Arcu cursus vitae
					congue mauris. Bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Justo donec enim
					diam vulputate ut pharetra sit amet aliquam. Sit amet dictum sit amet justo donec enim. Aenean vel
					elit scelerisque mauris pellentesque. Vel turpis nunc eget lorem dolor sed.</p>

					<p>Id aliquet lectus proin nibh. Amet aliquam id diam maecenas. In nulla posuere sollicitudin aliquam
					ultrices sagittis orci. Fermentum posuere urna nec tincidunt praesent. Porttitor leo a diam
					sollicitudin tempor id eu. Netus et malesuada fames ac. Tortor at auctor urna nunc id. Enim eu
					turpis egestas pretium aenean pharetra magna ac placerat. Mauris cursus mattis molestie a. Facilisi
					etiam dignissim diam quis enim lobortis scelerisque fermentum. Odio facilisis mauris sit amet.</p>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
					Footer
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-content>

</ion-app>